/* Header styles */
.task-board-header {
  text-align: center;
  margin-bottom: 20px; /* Adjust as needed */
}

.task-board-header button {
  padding: 10px 20px;
  background-color: #5580c09d; /* A nice blue shade */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
}

.task-board-header button:hover {
  background-color: #0056b3; /* Darker shade when hovered */
}

.task-board-header button:active {
  transform: scale(0.98); /* Slightly reduce the size when clicked */
}

/* Title styling */
.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  margin-top: 0;
  padding-bottom: 10px;
  border-bottom: 2px solid #eee;
  display: inline-block;
  width: auto;
}

/* Board and column styling */
.task-board {
  display: flex;
  justify-content: space-between;
}

.task-column {
  flex: 1;
  margin: 0 10px;
  background-color: #cce7d4;
  padding: 10px;
  min-height: 300px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
  height: 400px; /* Added fixed height for scroll */
  overflow-y: auto; /* Make each column scrollable */
}

.task-column h2 {
  font-size: 20px;
  color: #333;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #8de0bd9d;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Consistent with the tasks */
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Task card hover effect */
.task-card {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Consistent shadow */
  cursor: pointer;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.task-card:hover {
  background-color: #dcece1b0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Enhanced shadow for depth */
}
